.line{
  width:400px;
  height: 2px;
  background: black;
  margin: auto;
}
.btn-color{
  background-color: black;
  color: white;
  border-radius: 10px;
}

.btn-color:hover{
  background-color: #353434;
  color: #fff;
}

.head{
  background-color: black;
  color: #fff;
  padding: 20px;
}
